In [3]:
import pandas as pd
data = {
       "Name":['yash','yashvardhan','suraj','taneya'],
       "Age":[21,24,23,21],
       "proffesion":['data science','data analysist','ai/ml','12th']
}
#using the DataFrame method to creating own data
df = pd.DataFrame(data)
print(df.to_string(index=False)) # to_string(index=False) is using remove the index and print in the output
df.to_csv("student_record.CSV", index=False)
# to remove the index in the dataframe then using the index = false

       Name  Age     proffesion
       yash   21   data science
yashvardhan   24 data analysist
      suraj   23          ai/ml
     taneya   21           12th

In [4]:
a = {'dfsdf':[5]}
pd.Series(a)

dfsdf    [5]
dtype: object

In [5]:
b = (2,5,4,8,6,8)
pd.Series(b)

0    2
1    5
2    4
3    8
4    6
5    8
dtype: int64

In [12]:
series = {'name':['yash','Rani','tushar','suraj'],
         'class': [43,45,65,67]}
pd.Series(series)

name     [yash, Rani, tushar, suraj]
class               [43, 45, 65, 67]
dtype: object