ModuleNotFoundError: No module named 'libraray'

In [33]:
import numpy as np 
import pandas as pd 
import seaborn as sns
ds = pd.Series([1,2,3,44,56,32])
print(ds)
print(ds[1])

0     1
1     2
2     3
3    44
4    56
5    32
dtype: int64
2

In [145]:
ds.iloc[-1]

np.int64(32)

In [32]:
ds.loc[0]

np.int64(1)

In [37]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [38]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

# Extract the columns

In [42]:
df[['species','sepal_width']]

       species  sepal_width
0       setosa          3.5
1       setosa          3.0
2       setosa          3.2
3       setosa          3.1
4       setosa          3.6
..         ...          ...
145  virginica          3.0
146  virginica          2.5
147  virginica          3.0
148  virginica          3.4
149  virginica          3.0

[150 rows x 2 columns]

In [51]:
df[df['sepal_length'] > 5]

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[118 rows x 5 columns]

# adding the data

In [55]:
df['name'] = "yash"
df

     sepal_length  sepal_width  petal_length  petal_width    species  name
0             5.1          3.5           1.4          0.2     setosa  yash
1             4.9          3.0           1.4          0.2     setosa  yash
2             4.7          3.2           1.3          0.2     setosa  yash
3             4.6          3.1           1.5          0.2     setosa  yash
4             5.0          3.6           1.4          0.2     setosa  yash
..            ...          ...           ...          ...        ...   ...
145           6.7          3.0           5.2          2.3  virginica  yash
146           6.3          2.5           5.0          1.9  virginica  yash
147           6.5          3.0           5.2          2.0  virginica  yash
148           6.2          3.4           5.4          2.3  virginica  yash
149           5.9          3.0           5.1          1.8  virginica  yash

[150 rows x 6 columns]

In [78]:
df

,sepal_length,sepal_width,name_fw,fw,petal_length,petal_width,species,name
0,5.1,3.5,tanisha,tanisha,1.4,0.2,setosa,yash
1,4.9,3.0,tanisha,tanisha,1.4,0.2,setosa,yash
2,4.7,3.2,tanisha,tanisha,1.3,0.2,setosa,yash
3,4.6,3.1,tanisha,tanisha,1.5,0.2,setosa,yash
4,5.0,3.6,tanisha,tanisha,1.4,0.2,setosa,yash
...,...,...,...,...,...,...,...,...
145,6.7,3.0,tanisha,tanisha,5.2,2.3,virginica,yash
146,6.3,2.5,tanisha,tanisha,5.0,1.9,virginica,yash
147,6.5,3.0,tanisha,tanisha,5.2,2.0,virginica,yash
148,6.2,3.4,tanisha,tanisha,5.4,2.3,virginica,yash
149,5.9,3.0,tanisha,tanisha,5.1,1.8,virginica,yash

In [85]:
df.drop(['name_fw','fw','name'], axis = 1)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
df.drop(columns = ['sepal_width','name_fw','fw','name'], inplace = True)

In [102]:
df

     sepal_length  petal_length  petal_width    species
0             5.1           1.4          0.2     setosa
1             4.9           1.4          0.2     setosa
2             4.7           1.3          0.2     setosa
3             4.6           1.5          0.2     setosa
4             5.0           1.4          0.2     setosa
..            ...           ...          ...        ...
145           6.7           5.2          2.3  virginica
146           6.3           5.0          1.9  virginica
147           6.5           5.2          2.0  virginica
148           6.2           5.4          2.3  virginica
149           5.9           5.1          1.8  virginica

[150 rows x 4 columns]

In [105]:
df.drop(columns = 'species')

     sepal_length  petal_length  petal_width
0             5.1           1.4          0.2
1             4.9           1.4          0.2
2             4.7           1.3          0.2
3             4.6           1.5          0.2
4             5.0           1.4          0.2
..            ...           ...          ...
145           6.7           5.2          2.3
146           6.3           5.0          1.9
147           6.5           5.2          2.0
148           6.2           5.4          2.3
149           5.9           5.1          1.8

[150 rows x 3 columns]

Detect the missing values in your dataset ?

In [110]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [170]:
data_set = sns.load_dataset('brain_networks')
data_set

,network,1,1.1,2,2.1,3,3.1,4,4.1,5,...,16.5,16.6,16.7,17,17.1,17.2,17.3,17.4,17.5,17.6
0,node,1,1,1,1,1,1,1,1,1,...,3,4,4,1,1,2,2,3,3,4
1,hemi,lh,rh,lh,rh,lh,rh,lh,rh,lh,...,rh,lh,rh,lh,rh,lh,rh,lh,rh,lh
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,56.05574417114258,92.03103637695312,3.391575574874878,38.65968322753906,26.203819274902344,-49.71556854248047,47.4610366821289,26.746612548828125,-35.898860931396484,...,0.6079040169715881,-70.27054595947266,77.36577606201172,-21.73455047607422,1.0282527208328247,7.7917842864990225,68.90372467041016,-10.520872116088867,120.49046325683594,-39.686431884765625
4,1,55.5472526550293,43.6900749206543,-65.49598693847656,-13.974522590637207,-28.27496337890625,-39.05012893676758,-1.2106596231460571,-19.012897491455078,19.568010330200195,...,57.49507141113281,-76.39321899414062,127.26136016845705,-13.035799026489258,46.3818244934082,-15.752449989318848,31.00033187866211,-39.607521057128906,24.76401138305664,-36.7710075378418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,915,-7.4295125007629395,-4.81321907043457,-3.670536518096924,1.4422610998153689,-19.6804313659668,-29.109355926513672,-3.3765623569488525,-8.764892578125,0.017911728471517563,...,58.28579330444336,68.55741119384766,22.83304786682129,76.17948913574219,51.9346694946289,-6.614512920379639,-6.690762042999268,22.893030166625977,48.27437973022461,76.22845458984375
919,916,-33.55413818359375,-38.60562133789063,-25.66480255126953,-30.252351760864254,5.5627851486206055,20.182186126708984,17.91124725341797,24.65358161926269,-32.93561172485352,...,59.86481857299805,23.00457763671875,7.6574625968933105,50.96239852905274,13.696922302246096,63.50361633300781,57.40117645263672,24.97454833984375,51.97215270996094,64.53878784179689
920,917,-78.53956604003906,-74.19718933105469,-54.04159545898438,-39.97029113769531,-14.277058601379395,-30.606460571289066,60.62852096557617,62.02702331542969,-32.80055618286133,...,68.76786804199219,49.66401672363281,64.55149841308594,43.80074691772461,8.144479751586914,47.28145980834961,70.49964904785156,66.99440002441406,81.53924560546875,64.96977233886719
921,918,-103.23582458496094,-98.7442855834961,-40.10954284667969,-44.90773391723633,12.109148025512695,1.6213401556015017,33.765560150146484,55.35607147216797,-14.330512046813965,...,103.1552505493164,106.45484924316406,9.04682731628418,46.67441940307617,40.95479583740234,0.8771800398826599,37.57715225219727,20.517745971679688,3.124434232711792,56.71838760375977
922,919,-36.28886795043945,-10.762069702148438,-30.35626220703125,-23.31950378417969,14.252187728881836,-27.55986022949219,17.279512405395508,-19.060152053833008,26.55877685546875,...,102.0863037109375,80.05113983154297,-2.6426103115081787,-12.229619979858398,-6.596726417541504,17.665163040161133,16.153173446655273,8.300398826599121,33.687530517578125,17.960655212402344

In [171]:
data_set.isnull().sum()

network    1
1          1
1.1        1
2          1
2.1        1
          ..
17.2       1
17.3       1
17.4       1
17.5       1
17.6       1
Length: 63, dtype: int64

In [180]:
df['sepal_length'].isin([5.1,23])
df[df['sepal_length'].isin([5.1,23])]

    sepal_length  petal_length  petal_width     species
0            5.1           1.4          0.2      setosa
17           5.1           1.4          0.3      setosa
19           5.1           1.5          0.3      setosa
21           5.1           1.5          0.4      setosa
23           5.1           1.7          0.5      setosa
39           5.1           1.5          0.2      setosa
44           5.1           1.9          0.4      setosa
46           5.1           1.6          0.2      setosa
98           5.1           3.0          1.1  versicolor

In [185]:
# Check which rows in 'sepal_length' column have values 5.1 or 23
df['sepal_length'].isin([5.1,23])
# Filter the dataframe to only show rows where 'sepal_length' is either 5.1 or 23
df[df['sepal_length'].isin([5.1,23])] = 100

In [172]:
li = [32,35,46,5,76,76,76,6,65,34]
data = pd.Series(li)

In [187]:
df

     sepal_length  petal_length  petal_width    species
0           100.0         100.0        100.0        100
1             4.9           1.4          0.2     setosa
2             4.7           1.3          0.2     setosa
3             4.6           1.5          0.2     setosa
4             5.0           1.4          0.2     setosa
..            ...           ...          ...        ...
145           6.7           5.2          2.3  virginica
146           6.3           5.0          1.9  virginica
147           6.5           5.2          2.0  virginica
148           6.2           5.4          2.3  virginica
149           5.9           5.1          1.8  virginica

[150 rows x 4 columns]

In [205]:
df.set_index('species',inplace = True)

In [196]:
df.loc[4]

sepal_length       5.0
petal_length       1.4
petal_width        0.2
species         setosa
Name: 4, dtype: object

In [222]:
df.reset_index(drop = True ,inplace = True)

In [223]:
df

     sepal_length  petal_length  petal_width
0           100.0         100.0        100.0
1             4.9           1.4          0.2
2             4.7           1.3          0.2
3             4.6           1.5          0.2
4             5.0           1.4          0.2
..            ...           ...          ...
145           6.7           5.2          2.3
146           6.3           5.0          1.9
147           6.5           5.2          2.0
148           6.2           5.4          2.3
149           5.9           5.1          1.8

[150 rows x 3 columns]