Q.1 How to import pandas and check the version?

In [15]:
import pandas as pd 
import numpy as np
import seaborn as sns
pd.__version__
np.__version__
sns.__version__

'0.13.2'

Q.2  How to create a series from a list, numpy array and dict?

In [13]:
li = ['a','b','c','d','e']
print(pd.Series(li))

ar = np.array(['dsfs','fd','dsf'])
print(pd.Series(ar))

dic = {'name':['yash','suraj','rani','tushar'],
      'marks':[99,78,98,00,89]}
pd.Series(dic)

0    a
1    b
2    c
3    d
4    e
dtype: object
0    dsfs
1      fd
2     dsf
dtype: object

name     [yash, suraj, rani, tushar]
marks            [99, 78, 98, 0, 89]
dtype: object

Q.3 How to convert the index of a series into a column of a dataframe?

# reset_index()

In [35]:
series = pd.Series([3,4,5], index = ['a','b','c'])
print(series)
series.reset_index()

a    3
b    4
c    5
dtype: int64

  index  0
0     a  3
1     b  4
2     c  5

Q.4 How to get the items not common to both series A and series B?

In [52]:
s = pd.Series([1,2,3,4,5])
s1 = pd.Series([1,5,90,32,67])
pd.concat([s,s1])

0     1
1     2
2     3
3     4
4     5
0     1
1     5
2    90
3    32
4    67
dtype: int64

In [55]:
pd.concat([s[~s.isin(s1)],s1[~s1.isin(s)]])

1     2
2     3
3     4
2    90
3    32
4    67
dtype: int64

In [56]:
pd.concat([s[~s.isin(s1)],s1[~s1.isin(s)]])

1     2
2     3
3     4
2    90
3    32
4    67
dtype: int64