# endcoding 

 * encoding means converting the data from one format into onother format is known as encoding 
 * why need this because ml don't read the string they only know the numbers like 0 or 1
 * types of encoding:-
 * 1. label encoding
 * 2. one hot encodign
 * 3. Ordinal Encoding (Used when the categories have a natural order.) like :-
 * | Education   | Encoded |
| ----------- | ------- |
| High School | 1       |
| Bachelor’s  | 2       |
| Master’s    | 3       |
| PhD         | 4       |

* 4️⃣ Frequency / Count Encoding (Replace each category with how often it appears.)
| City   | Frequency |
| ------ | --------- |
| Delhi  | 3         |
| Mumbai | 2         |
| Delhi  | 3         |
| Pune   | 1         |

* 5️⃣ Binary / Hash / Target Encoding (Used for large datasets or high-cardinality features (e.g., 1000+ categories).)

   # this is summary tabel
* | Encoding Type         | Best for             | Description                          |
| --------------------- | -------------------- | ------------------------------------ |
| **Label Encoding**    | Simple categories    | Assigns numeric labels (0, 1, 2, …)  |
| **One-Hot Encoding**  | Unordered categories | Creates binary columns               |
| **Ordinal Encoding**  | Ordered categories   | Keeps natural rank (low → high)      |
| **Count / Frequency** | Large categories     | Uses counts of occurrences           |
| **Target Encoding**   | Advanced ML          | Uses relationship to target variable |

*

In [1]:
# label encoding 
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

li = ['Red','Blue','Green','Red']
encoding = le.fit_transform(li)
print(encoding)
print(li)

[2 0 1 2]
['Red', 'Blue', 'Green', 'Red']

In [5]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd 
ds = pd.DataFrame({
           'name': ['yash','rani','rani kamlapati','suraj','roshni'],
            'gender': ['M','F','F','M','F'],
          'passed': ['yes','yes','no','yes','no']
})
le = LabelEncoder()
ds_label = ds.copy()

ds_label['Gender_endcoded'] = le.fit_transform(ds_label['gender'])
ds_label['Passed_endcoded'] = le.fit_transform(ds_label['passed'])
print(ds_label)

             name gender passed  Gender_endcoded  Passed_endcoded
0            yash      M    yes                1                1
1            rani      F    yes                0                1
2  rani kamlapati      F     no                0                0
3           suraj      M    yes                1                1
4          roshni      F     no                0                0

# one hot coding
 * pd.get_dummies() is a pandas function used to perform One-Hot Encoding automatically.

In [7]:
# one hot coding
import pandas as pd 
df = pd.DataFrame({
                'colours':  ['Red','Blue','Green','Red']
})
encodeing = pd.get_dummies(df,columns=['colours'] )  #,dtype=int
print(encodeing)

   colours_Blue  colours_Green  colours_Red
0         False          False         True
1          True          False        False
2         False           True        False
3         False          False         True

# practice for encoding

In [4]:
import seaborn as sns 
ds = sns.load_dataset('flights')
ds

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# print(this is alll text )
le.fit_transform(ds['month'])

array([ 4,  3,  7,  0,  8,  6,  5,  1, 11, 10,  9,  2,  4,  3,  7,  0,  8,
        6,  5,  1, 11, 10,  9,  2,  4,  3,  7,  0,  8,  6,  5,  1, 11, 10,
        9,  2,  4,  3,  7,  0,  8,  6,  5,  1, 11, 10,  9,  2,  4,  3,  7,
        0,  8,  6,  5,  1, 11, 10,  9,  2,  4,  3,  7,  0,  8,  6,  5,  1,
       11, 10,  9,  2,  4,  3,  7,  0,  8,  6,  5,  1, 11, 10,  9,  2,  4,
        3,  7,  0,  8,  6,  5,  1, 11, 10,  9,  2,  4,  3,  7,  0,  8,  6,
        5,  1, 11, 10,  9,  2,  4,  3,  7,  0,  8,  6,  5,  1, 11, 10,  9,
        2,  4,  3,  7,  0,  8,  6,  5,  1, 11, 10,  9,  2,  4,  3,  7,  0,
        8,  6,  5,  1, 11, 10,  9,  2])

In [11]:
import pandas as pd
encoding = pd.get_dummies(ds['year'])