# create the Linear Regression class

In [19]:

class YashLR:
    
    def __init__(self):
        self.m = None
        self.b = None
        
    def fit(self,X_train,y_train):
        
        num = 0
        den = 0
        
        for i in range(X_train.shape[0]):
            
            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))
        
        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())
        print(self.m)
        print(self.b)       
    
    def predict(self,X_test):
        
        print(X_test)
        
        return self.m * X_test + self.b

In [3]:
import numpy as np 
import pandas as pd

In [5]:
df = pd.read_csv('sample_dataset.csv')
df.head()

   ID  Feature_1  Feature_2
0   1       7.12       3.45
1   2       6.54       3.10
2   3       8.02       4.20
3   4       7.45       3.80
4   5       5.92       2.40

# change the columns name

In [9]:
df.rename(columns={'Feature_1':'LPA', 'Feature_2' :'CGPA'} , inplace = True)

In [10]:
df

     ID   LPA  CGPA
0     1  7.12  3.45
1     2  6.54  3.10
2     3  8.02  4.20
3     4  7.45  3.80
4     5  5.92  2.40
..  ...   ...   ...
95   96  6.87  3.25
96   97  8.25  4.50
97   98  7.42  3.72
98   99  6.54  3.05
99  100  5.12  1.95

[100 rows x 3 columns]

In [15]:
x = df.iloc[:,0].values
y = df.iloc[:,1].values
x

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [16]:
y

array([7.12, 6.54, 8.02, 7.45, 5.92, 6.21, 7.88, 8.12, 5.45, 6.78, 7.34,
       6.98, 5.6 , 8.32, 7.67, 6.45, 7.91, 5.22, 6.12, 7.55, 6.95, 8.41,
       5.35, 6.87, 7.23, 8.05, 6.34, 5.78, 8.22, 7.12, 6.89, 5.48, 7.86,
       8.15, 6.24, 7.53, 6.78, 5.92, 8.01, 7.34, 6.12, 7.98, 5.67, 7.62,
       8.25, 6.95, 7.45, 5.22, 6.32, 7.12, 8.18, 5.97, 6.75, 7.84, 8.32,
       6.48, 5.89, 7.67, 6.12, 8.45, 7.32, 6.98, 5.45, 7.55, 8.05, 6.34,
       7.15, 5.78, 8.22, 6.94, 7.42, 8.12, 6.24, 7.62, 5.35, 6.87, 8.3 ,
       7.53, 6.45, 5.92, 8.12, 7.23, 6.75, 5.48, 8.05, 7.67, 6.98, 5.6 ,
       7.82, 6.45, 8.41, 7.34, 5.22, 6.12, 7.98, 6.87, 8.25, 7.42, 6.54,
       5.12])

In [17]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state=2)

In [18]:
x_train.shape

(80,)

# Create the linear Regression model

In [22]:
lr = YashLR()

In [23]:
lr.fit(x_train,y_train)

0.007213078806831341
6.599444534446745

In [25]:
print(lr.predict(x_test[0]))

84
7.205343154220578